.contactUs {
  height: fit-content;
  margin-bottom: 200px;
}

.contactUs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.contactTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  color: #3f7e78;
  font-size: 45px;
  padding-top: 40px;
}

.contactItem img {
  height: 150px;
}

.contactItem {
  height: fit-content;
  width: 400px;
  background-color: #3f7e78;
  padding: 20px;
  margin: 18px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #edf6f9;
  filter: drop-shadow(0 0 0.3rem #000000);
}
.info {
  display: flex;
  flex: 1;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.button button {
  border-style: none;
  padding: 10px;
  background-color: #edf6f9;
  border-radius: 10px;
  font-family: "Poppins";
  color: #3f7e78;
  height: fit-content;
  width: 150px;
  cursor: pointer;
  transition: all 0.2s;
}

.button button:hover {
    padding: 12px;
    transition: all 0.2s;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.left{
    flex: 1;
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
}