@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 35px;
    border-radius: 10px;
    color: white;
}

.brand{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    cursor: pointer;
}
.navBarmenu{
    display: flex;
}

.navbar-item{
    padding: 10px;
}

.navbar-item a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

.navbar-item a:hover{
    background-color: #559d96;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    color: #FFFFFF;
}

/* second part of the header */

.contenedor32{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header32{
    height: 100vh;
    background-image:url(https://cdn.discordapp.com/attachments/770468536270192660/1126854972399681657/Screenshot_2023-07-07_at_8.37.58_AM.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

.imagen{
  height: 200px;
}

.imagencont{
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

  .titulo32{
    font-size: 58px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -470px;
  }
  
.head32{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
  }
  
  .copy32{
    font-weight: 300;
    font-size: 25;
  }
  
  .logIn32{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    background-color: #559d96;
    margin-top: 15px;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 20px;
  }
  
  .logIn32:hover{
    background-color: rgb(0, 0, 0);
    color: white;
  }